@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

*,*:before,*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #000000;
}

.header__wrapper {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__block {
    width: 20%;
}

.header__lng {
display: flex;
justify-content: flex-end   ;
}

.header__lng_link {
    margin-right: 8px;
    font-weight: 600;
    color: #B7B7B7;
    text-transform: uppercase;
    text-decoration: none;
}

.header__lng_link:last-child:{
    margin-right: 0;
}

.header__lng_link.active {

    color: #fff;

}

.nav {
display: flex;
}

.nav__link {
    margin-right: 35px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    position: relative;
}

.nav__link:after {
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    opacity: 0;
    transition: opacity .2s ease;
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__link.active:after {
    opacity: 1;
}

.nav__link:last-child {
    margin-right: 0;
}